## Data Cleaning and Exploration on City Quality of Life Dataset

In [18]:
import pandas as pd

In [24]:
# Load data into df
complete_df = pd.read_csv('uaScoresDataFrame.csv')

# Drop unwanted columns
complete_df = complete_df.drop(['Unnamed: 0'], 1)

# Round numerical data to 3 decimals
complete_df = complete_df.round(3)
complete_df

C:\Users\Rida\AppData\Local\Temp/ipykernel_26180/765423401.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  complete_df = complete_df.drop(['Unnamed: 0'], 1)

,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
0,Aarhus,Denmark,Europe,6.132,4.015,2.827,2.512,3.536,6.312,9.940,9.617,8.704,5.366,7.633,4.887,5.068,8.373,3.187,9.739,4.130
1,Adelaide,Australia,Oceania,6.310,4.692,3.136,2.640,1.777,5.336,9.400,7.926,7.937,5.142,8.331,6.070,4.588,4.341,4.328,7.822,5.531
2,Albuquerque,New Mexico,North America,7.262,6.059,3.772,1.493,1.456,5.056,8.671,1.344,6.430,4.152,7.320,6.514,4.346,5.396,4.890,7.028,3.516
3,Almaty,Kazakhstan,Asia,9.282,9.333,2.458,0.000,4.592,5.871,5.568,7.309,4.546,2.283,3.857,5.269,8.522,2.886,2.937,6.540,5.500
4,Amsterdam,Netherlands,Europe,3.053,3.824,7.972,6.107,8.324,6.118,8.837,8.504,7.907,6.180,7.597,5.053,4.955,4.523,8.874,8.368,5.307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Winnipeg,Canada,North America,7.553,5.882,3.796,0.000,1.475,5.105,8.966,6.016,7.756,5.344,5.675,5.841,7.275,4.903,4.688,6.659,4.243
262,Wroclaw,Poland,Europe,8.452,8.434,3.586,2.386,2.244,4.955,5.704,8.166,6.781,4.162,4.965,4.762,5.097,5.762,4.750,3.904,4.085
263,Yerevan,Armenia,Asia,9.694,9.431,3.926,0.000,1.787,5.649,6.501,8.873,5.102,0.000,4.440,3.458,8.055,3.900,4.737,7.347,7.776
264,Zagreb,Croatia,Europe,8.910,7.194,4.453,1.775,2.028,4.830,5.720,8.658,7.266,3.211,7.332,2.236,7.993,5.034,4.994,7.955,4.809
265,Zurich,Switzerland,Europe,1.473,1.000,6.204,3.872,7.733,5.839,8.888,9.066,7.670,7.288,8.643,6.552,6.429,7.268,4.966,8.784,5.401

In [25]:
# Drop na values
complete_df.dropna()

,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
0,Aarhus,Denmark,Europe,6.132,4.015,2.827,2.512,3.536,6.312,9.940,9.617,8.704,5.366,7.633,4.887,5.068,8.373,3.187,9.739,4.130
1,Adelaide,Australia,Oceania,6.310,4.692,3.136,2.640,1.777,5.336,9.400,7.926,7.937,5.142,8.331,6.070,4.588,4.341,4.328,7.822,5.531
2,Albuquerque,New Mexico,North America,7.262,6.059,3.772,1.493,1.456,5.056,8.671,1.344,6.430,4.152,7.320,6.514,4.346,5.396,4.890,7.028,3.516
3,Almaty,Kazakhstan,Asia,9.282,9.333,2.458,0.000,4.592,5.871,5.568,7.309,4.546,2.283,3.857,5.269,8.522,2.886,2.937,6.540,5.500
4,Amsterdam,Netherlands,Europe,3.053,3.824,7.972,6.107,8.324,6.118,8.837,8.504,7.907,6.180,7.597,5.053,4.955,4.523,8.874,8.368,5.307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Winnipeg,Canada,North America,7.553,5.882,3.796,0.000,1.475,5.105,8.966,6.016,7.756,5.344,5.675,5.841,7.275,4.903,4.688,6.659,4.243
262,Wroclaw,Poland,Europe,8.452,8.434,3.586,2.386,2.244,4.955,5.704,8.166,6.781,4.162,4.965,4.762,5.097,5.762,4.750,3.904,4.085
263,Yerevan,Armenia,Asia,9.694,9.431,3.926,0.000,1.787,5.649,6.501,8.873,5.102,0.000,4.440,3.458,8.055,3.900,4.737,7.347,7.776
264,Zagreb,Croatia,Europe,8.910,7.194,4.453,1.775,2.028,4.830,5.720,8.658,7.266,3.211,7.332,2.236,7.993,5.034,4.994,7.955,4.809
265,Zurich,Switzerland,Europe,1.473,1.000,6.204,3.872,7.733,5.839,8.888,9.066,7.670,7.288,8.643,6.552,6.429,7.268,4.966,8.784,5.401

Note: Dropping na resulted in no change as the dataset we are using had some level of pre-processing already complete

In [26]:
complete_df.describe()

,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000
mean,6.467331,5.745940,4.595353,2.702515,3.446992,4.631820,7.330774,6.971684,6.796579,3.835252,6.078312,5.058079,4.953173,5.205053,5.710090,6.792759,4.492891
std,2.294476,2.447104,2.152833,2.553445,2.091605,1.523063,2.109435,1.746633,1.481916,2.212999,2.199916,1.517120,1.689840,1.872228,2.006787,1.724700,1.591726
min,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,1.344000,0.000000,0.000000,1.000000,0.000000,0.500000,1.000000,0.000000,1.406000,0.500000
25%,5.149250,4.795000,3.098000,0.000000,1.702750,4.399500,5.771500,5.972500,6.063750,2.184000,4.329000,4.103000,3.920000,4.134000,4.448250,5.779500,3.698500
50%,6.726000,5.630500,4.214000,2.317500,2.921500,5.064500,8.404000,7.188500,6.780500,4.273000,6.481000,5.374000,4.760000,5.379000,5.707000,7.154500,4.733000
75%,8.312750,7.595500,5.790500,3.764750,4.766500,5.613500,8.837000,8.269500,8.054250,5.294250,7.887250,6.514000,5.954000,6.264750,7.062500,8.052250,5.500000
max,10.000000,10.000000,10.000000,10.000000,10.000000,6.728000,10.000000,10.000000,9.321000,9.711000,9.953000,9.390000,10.000000,9.716000,10.000000,9.739000,7.933000

In [28]:
complete_df.to_csv("Cleaned_CityLife.csv")